@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap'); /*Textos h1*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); /*Textos h2 a h4*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400i&display=swap'); /*Textos de instrucciones*/

/* * marca todas tus páginas con lo mismo*/
*{
    margin: 10 px;
    padding: 10 px;
}
body{
    background:url(../imagenes/portada.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: scroll;
    color: beige;
    font-family: 'Cuprum',sans-serif;
    margin: 50px;
    padding: 50px;
}

.oculto{
    display: none;
}

#TipoDeUsuario h1{
    font-size: 100px;

}

#TipoDeUsuario h2{
    font-family: 'Lato',sans-serif;
    font-size: 50px;
    font-style:italic;
}

#TipoDeUsuario h3{
    font-size: 30px;

}

#TipoDeUsuario{
    text-align: center;
    margin: 100px;
}

#boton-instrucciones1{
    position: absolute;
    top: 15%;
    right: 20%;
    margin: 10 px;
    padding: 10px;
    background: #65CC62;
    border-radius: 30px;
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
}
#boton-instrucciones1:hover{
    background: #808080;
    padding: 10px;
    margin: 10 px;
    text-align: center;
    border-radius: 15px;
}
#instrucciones-1{
    position: absolute;
    top:20%;
    right: 20px;
    background-color: rgba(31, 111, 148, 0.6);
    /*border: 1px solid #1f6f94 ;*/
    text-align: center;
    margin: 10px 10px;
    padding: 30px 10px;
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
  
}
#instrucciones-1 h3{
    font-family: 'Loto',sans-serif;
    font-style: bold;
    color: black;
}

#cerrar{
    display: flex;
    position: absolute;
    margin: 10 px;
    padding: 10px;
    top: 1%;
    right:1%;
}
#cerrar:hover{
    background:  #65CC62;
    padding: 10px;
    margin: 10 px;
    text-align: center;
    border-radius: 15px;
    
}

#registro-boton{
    position: absolute;
    top: 15%;
    right: 10%;
    
    display: inline-block;
    text-align: center;
    vertical-align: center;
    padding:10px 20px;
    border: 1px solid #65CC62;
    border-radius: 30px;
    
}
#registro-boton:hover{
    background:  #65CC62;
    padding: 10px;
    margin: 10 px;
    text-align: center;
    border-radius: 15px;
}

#jefe-boton{
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    margin: 5px 50px;
    padding: 12px 24px;
    border: 5px solid #F5F5F5;
    border-radius:15px;
    background:#7C807C;
    width: 50px;
    height: 20px;
    font-size: 20px;
    font-style: bold;
    
}

#empleado-boton{
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    margin: 5px 5px;
    padding: 12px 30px;
    border: 5px solid #F5F5F5;
    border-radius:15px;
    background:grey;
    width: 70px;
    height: 20px;
    font-size: 20px;
    font-style: bold;
}

#pag-jefe{
    padding: 20% 80%;
    width: 30%;
    justify-content: center;
    font-size: 20px;
    justify-content: space-between;
    background-size: cover;
}
#pag-jefe h1{
    font-size:60px;
}

#enviar-clave-usuario{
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    margin: 5px 5px;
    padding: 12px 10px;
    border: 1px solid whitesmoke;
    border-radius:15px;
    background:grey;
    width: 70px;
    height: 20px;
    font-size: 20px;
}

#enviar-clave-usuario:hover{
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    margin: 5px 5px;
    padding: 12px 10px;
    border-radius:15px;
    background:#ABE9DF;
    width: 70px;
    height: 20px;
    font-size: 20px;
    color: black;
}
#pag-crear-codigo{
    font-size: 20px;

}
#encriptar{
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    margin: 5px 5px;
    padding: 12px 10px;
    border: 1px solid whitesmoke;
    border-radius:15px;
    background:grey;
    width: 70px;
    height: 20px;
    font-size: 20px;
}
#encriptar:hover{
    
    text-align:center;
    vertical-align: middle;
    margin: 5px 5px;
    padding: 12px 10px;
    border-radius:15px;
    background:#ABE9DF;
    width: 70px;
    height: 20px;
    font-size: 20px;
    color: black;
}

#boton-2{
    position: absolute;
    bottom: 10%;
    right: 10%;
    margin: 10 px;
    padding: 10px;
    background: #65CC62;
    border-radius: 30px;
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    color: black;
}
#boton-instrucciones2:hover{
    background: #808080;
    padding: 10px;
    margin: 20 px;
    text-align: center;
    border-radius: 30px;
    width: 60%;
}

#instrucciones-2{
    position: absolute;
    bottom:20%;
    right: 10%;
    background-color: rgba(31, 111, 148, 0.6);
    /*border: 1px solid #1f6f94 ;*/
    text-align:justify;
    margin: 10px 10px;
    padding: 30px 10px;
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-size: 16px;
  
}
#instrucciones-2 h3{
    font-family: 'Loto',sans-serif;
    font-style: bold;
    color: black;
}

#cerrar2{
    display: flex;
    position: absolute;
    margin: 10 px;
    padding: 10px;
    top: 1%;
    right:1%;
}
#cerrar2:hover{
    background:  #65CC62;
    padding: 10px;
    margin: 10 px;
    text-align: center;
    border-radius: 15px;
    
}
#codigo-cifrado{
    display: inline-block;
    position: static;
    text-align:center;
    margin: 5px 5px;
    padding: 20px 20px;
    border-radius:15px;
    background:#ABE9DF;
    width: 70px;
    height: 20px;
    font-size: 20px;
    color: black;
    }
#guarda-codigo{
    position: static;
    display: inline-block;;
    text-align:start;
    vertical-align: middle;
    
    padding: 20px 10px;
    border: 1px solid whitesmoke;
    border-radius:15px;
    background:grey;
    width: 70px;
    height: 20px;
    font-size: 20px;
}

#guarda-codigo:hover{
    display: inline-block;
    position: fixed
    text-align:center;
    vertical-align: middle;
    margin: 5px 5px;
    padding: 20px 20px;
    border-radius:15px;
    background:#ABE9DF;
    width: 70px;
    height: 20px;
    font-size: 20px;
    color: black;
}
#decode-codigo{
    display: inline-block;
    text-align:start;
    vertical-align: middle;
    
    padding: 20px 20px;
    border: 1px solid whitesmoke;
    border-radius:15px;
    background:grey;
    width: 70px;
    height: 20px;
    font-size: 20px;
}

#decode-codigo:hover{
    display: inline-block;
    
    text-align:center;
    vertical-align: middle;
    margin: 5px 5px;
    padding: 20px 20px;
    border-radius:15px;
    background:#ABE9DF;
    width: 70px;
    height: 20px;
    font-size: 20px;
    color: black;
}
#salida{
    display: inline-block;
    text-align:start;
    vertical-align: middle;
    
    padding: 20px 20px;
    border: 1px solid whitesmoke;
    border-radius:15px;
    background:grey;
    width: 70px;
    height: 10px;
    font-size: 20px;
}

#salida:hover{
    display: inline-block;
    
    text-align: center;
    vertical-align: middle;
    margin: 5px 5px;
    padding: 20px 20px;
    border-radius:15px;
    background:#ABE9DF;
    width: 70px;
    height: 20px;
    font-size: 20px;
    color: black;
}
#desencriptar{
    display: inline-block;
    text-align:start;
    vertical-align: middle;
    
    padding: 20px 20px;
    border: 1px solid whitesmoke;
    border-radius:15px;
    background:grey;
    width: 70px;
    height: 10px;
    font-size: 20px;
}

#desencriptar:hover{
    display: inline-block;
    
    text-align: center;
    vertical-align: middle;
    margin: 5px 5px;
    padding: 20px 20px;
    border-radius:15px;
    background:#ABE9DF;
    width: 100px;
    height: 20px;
    font-size: 20px;
    color: black;
}
#codigo-decifrado{
    display: inline-block;
    position: static;
    text-align:center;
    margin: 5px 5px;
    padding: 20px 20px;
    border-radius:15px;
    background:#ABE9DF;
    width: 70px;
    height: 20px;
    font-size: 20px;
    color: black;
    }
    /* SECCIÓN DE EMPLEADO*/
    #datos-empleado{
        display: inline-block;
        text-align:center;
        vertical-align: middle;
        margin:0px;
        padding: 15px 20px;
        border: 1px solid whitesmoke;
        border-radius:15px;
        background:grey;
        width: 70px;
        height: 10px;
        font-size: 20px;
    }
    
    #datos-empleado:hover{
        display: inline-block;
        
        text-align: center;
        vertical-align: middle;
        margin: 5px 5px;
        padding: 10px 20px;
        border-radius:15px;
        background:#ABE9DF;
        width: 100px;
        height: 20px;
        font-size: 20px;
        color: black;
    }
    #codigo-encriptado{
        display: inline-block;
        text-align:center;
        vertical-align: middle;
        margin:0px;
        padding: 15px 20px;
        border: 1px solid whitesmoke;
        border-radius:15px;
        background:grey;
        width: 70px;
        height: 10px;
        font-size: 20px;
    }
    
    #codigo-encriptado:hover{
        display: inline-block;
        
        text-align: center;
        vertical-align: middle;
        margin: 5px 5px;
        padding: 10px 20px;
        border-radius:15px;
        background:#ABE9DF;
        width: 100px;
        height: 20px;
        font-size: 20px;
        color: black;
    }
    #trabajo-enviado{
        display: inline-block;
        text-align:center;
        vertical-align: middle;
        margin:0px;
        padding: 15px 20px;
        border: 1px solid whitesmoke;
        border-radius:15px;
        background:grey;
        width: 70px;
        height: 10px;
        font-size: 20px;
    }
    
    #trabajo-enviado:hover{
        display: inline-block;
        
        text-align: center;
        vertical-align: middle;
        margin: 5px 5px;
        padding: 10px 20px;
        border-radius:15px;
        background:#ABE9DF;
        width: 100px;
        height: 20px;
        font-size: 20px;
        color: black;
    }