body{
    background:url(../imagenes/portada.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    color: beige;
    }

.oculto{
    display: none;
}


    
